<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/components :: head">
    
    <title>User Login</title>
    
    
</head>
<body>
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div th:insert="fragments/components :: menu"></div>
        
        <div th:insert="fragments/components :: thif"></div>
        
        <div th:if="${error}" class="container mt-4 text-center">
            <div class="row col-md-4 mx-auto">
                <div th:text="${error}" class="alert alert-danger m-0 shadow"></div>
            </div>
        </div>
        <div th:if="${logout}" class="container mt-4 text-center">
            <div class="row col-md-4 mx-auto">
                <div th:text="${logout}" class="alert alert-success m-0 shadow"></div>
            </div>
        </div>
        
        <div class="p-4">
            <div class="row">
                <div class="col-md-4 mx-auto px-0">
                    <div class="card mt-4 text-center shadow">
                        <div class="card-header text-dark">
                            <h3>Sesión</h3>
                        </div>
                        <div class="card-body">
                            
                            <form id="formulario" class="needs-validation mb-4" th:action="@{/logincheck}" method="POST"
                            autocomplete="off" novalidate>
                            
                            <div class="form-group mb-3">
                                <input id="email" type="email" name="email" placeholder="Correo" class="form-control"
                                required/>
                                <div class="invalid-feedback text-start">El correo es obligatorio</div>
                            </div>
                            
                            <div class="form-group mb-3">
                                <input id="clave" type="password" name="clave" placeholder="Contraseña" class="form-control"
                                required/>
                                <div class="invalid-feedback text-start">La contraseña es obligatoria</div>
                            </div>
                            
                            <div class="form-group d-grid gap-2">
                                <button class="btn btn-success" type="submit">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div th:insert="fragments/components :: scripts"></div>
    
    <script>
        (() => {
            "use strict";
            
            const form = document.getElementById("formulario");
            form.addEventListener("submit", (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                
                form.classList.add("was-validated");
            }, false);
        })()
    </script>
</body>
</html>
