<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/components :: head">
  <title>Articulos</title>

</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <div th:insert="fragments/components :: asidebar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:insert="fragments/components :: sidebar"></div>




    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">




          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">


                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de Proveedores</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="Proveedores" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Proveedor</th>
                            <th>CUIT</th>
                            <th>Estado</th>
                            <th>Acciones</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr id="tablaP" th:each="proveedor:${proveedores}">
                            <td id="ProvId" th:value="${proveedor.proveedorId}" th:class="${proveedor.proveedorId}"
                              style="display:none" th:text="${proveedor.proveedorId}" readonly></td>
                            <td id="ProvNombre" th:text="${proveedor.razonSocial}"></td>
                            <td id="ProvCUIT" th:text="${proveedor.CUIT}"></td>
                            <td id="ProvEstado" th:if="${proveedor.estado}" th:text="ACTIVO"></td>
                            <td id="ProvEstado" th:unless="${proveedor.estado}" th:text="INACTIVO">


                            <td id="ModificarProducto">
                              <button class="btn btn-primary editar"
                                th:attr="onclick=|myFunction('${proveedor.proveedorId}')|"><i
                                  class="fas fa-solid fa-pen"></i></button>
                              <button class="btn btn-danger eliminar"
                                th:attr="onclick=|eliminar('${proveedor.proveedorId}')|"><i
                                  class="fas fa-solid fa-trash"></i></button>
                              <button class="btn btn-danger gastos editar"
                                th:attr="onclick=|gasto('${proveedor.proveedorId}')|"><i
                                  class="fas fa-solid fa-dollar-sign"></i></button>
                            </td>

                          </tr>

                        </tbody>

                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->


          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>NUEVO PROVEEDOR </h1>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">PROVEEDOR</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="formularioProveedor" class="needs-validation mb-4" th:action="@{/Proveedor/crear-proveedor}"
                  method="post" autocomplete="off" novalidate enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="idProv">ID del Proveedor</label>
                      <input name="id" type="text" class="form-control" placeholder="ID" id="idProv" readonly>
                      <div class="invalid-feedback text-start">El ID es obligatorio</div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="nombreProv">Razon Social</label>
                    <input name="nombre" type="text" class="form-control" required id="nombreProv"
                      placeholder="Razon Social">
                    <div class="invalid-feedback text-start">El nombre es obligatorio</div>
                  </div>
                  <div class="form-group">
                    <label for="CUITProv">CUIT</label>
                    <input name="CUIT" type="number" class="form-control" required id="CUITProv" placeholder="CUIT">
                    <div class="invalid-feedback text-start">El Fabricante es obligatorio</div>
                  </div>


                  <div class="card-footer">
                    <button id="cambiar" type="submit" class="btn btn-primary">Submit</button>
                    <button th:href="@{/index}" type="button" class="btn btn-danger">Cancelar</button>

                  </div>
                </form>

                <!-- /.row -->

              </div>
            </div><!-- /.container-fluid -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">GASTOS</h3>
                </div>
                <form id="tabla" class="needs-validation mb-4 " th:action="@{/ingredientes/cargar-ingredientes/}"
                  method="post" autocomplete="off" novalidate>
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                  <table id="agregados" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th class="oculto">Id</th>
                        <th>Articulo</th>
                        <th>Fabricante</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Monto</th>
                        <th>Quitar</th>



                      </tr>
                    </thead>
                    <tbody id="agregadostabla">

                    </tbody>
                  </table>
                  <!-- /.card-body -->

                  <div class="card-footer">

                  </div>
                </form>

              </div>
            </div><!-- /.container-fluid -->
          </div>
        </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <div th:insert="fragments/components :: scripts">

  </div>


  <script>
    function myFunction(id) {
      $(document).one('click', '.editar', function (event) {
        event.preventDefault();
        console.log("LLAMADA")
        var boton = $("#cambiar");
        boton.text("Modificar");
        $("#formularioProveedor").attr("action", "/Proveedor/modificar-proveedor")



        var option;
        var nombre;
        var nombre1;

        nombre = $(this).closest('tr').find('td').each(function () {
          $(this).parent().find("#ProvNombre").each(function () { $(this).text() })


        })
        nombre1 = nombre.parent().find("#ProvNombre").text();
        id1 = nombre.parent().find("#ProvId").text();
        CUIT = nombre.parent().find("#ProvCUIT").text();

        $('#idProv').val(id1);
        $('#nombreProv').val(nombre1);
        $('#CUITProv').val(CUIT);

      });

    };



  </script>
  <script>
    function gasto(id) {
      $(document).one('click', '.gastos', function (event) {

        event.preventDefault();

        var boton = $("#cambiar");
        boton.text("Modificar");
        $("#formularioProveedor").attr("action", "/Proveedor/modificar-proveedor")



        var option;
        var nombre;
        var nombre1;

        nombre = $(this).closest('tr').find('td').each(function () {
          $(this).parent().find("#ProvNombre").each(function () { $(this).text() })


        })
        nombre1 = nombre.parent().find("#ProvNombre").text();
        id1 = nombre.parent().find("#ProvId").text();
        CUIT = nombre.parent().find("#ProvCUIT").text();

        $('#idProv').val(id1);
        $('#nombreProv').val(nombre1);
        $('#CUITProv').val(CUIT);

        $.ajax({
          type: 'GET',
          url: 'http://localhost:8080/Gasto/llenardata/',
          mimeType: 'json',
          success: function (result) {
            
            $.each(result, function (i, result) {
              var body = "<tr class='idagregar'>";
              body += "<td id='idquitar'class='oculto' >" + result.prodId + "</td>";
              body += "<td id='nombrequitar'>" + result.nombre + "</td>";
              body += "<td id='fabricantequitar'>" + result.fabricante + "</td>";
              body += "<td class='cant'>" + 0 + "</td>";
              body += "<td id='unidadquitar'>" + result.unidad + "</td>";
              body += "<td class='monto'>" + 0 + "</td>";
              body += "<td> <button type='button' id='enviar' value='" + result.prodId + "' class='btn btn-success '><i class='fa fa-plus'></i></button></td>";
              body += "</tr>";
              $("#agregadostabla").append(body);
            });

          }, complete: function () {
            
            $(".oculto").toggle();
            $('td:nth-child(0 )').toggle();
            /*DataTables instantiation.*/
            $("#agregados").DataTable(
              {

                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [
                  {
                    "orderable": false, "targets": 4,

                  }
                ],
                "dom": 'Bfrtip',
                "buttons": [

                  'copyHtml5',
                  'csvHtml5',
                  'excelHtml5',
                  'pdfHtml5',
                  'print'
                ]
              }
            )

            $(function () {
          $(".cant").click(function () {
            var OriginalContent = $(this).text();
            $(this).addClass("cellEditing");
            $(this).html("<input type='text' value='" + OriginalContent + "' />");
            $(this).children().first().focus();
            $(this).children().first().keypress(function (e) {
              if (e.which == 13) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");
              }
            });
            $(this).children().first().blur(function () {
              $(this).parent().text(OriginalContent);
              $(this).parent().removeClass("cellEditing");
            });
            $(this).find('input').click(function (e) {
              e.stopPropagation();
            });
          });
        })
        $(function () {
          $(".monto").click(function () {
            var OriginalContent = $(this).text();
            $(this).addClass("cellEditing");
            $(this).html("<input type='text' value='" + OriginalContent + "' />");
            $(this).children().first().focus();
            $(this).children().first().keypress(function (e) {
              if (e.which == 13) {
                var newContent = $(this).val();
                $(this).parent().text(newContent);
                $(this).parent().removeClass("cellEditing");
              }
            });
            $(this).children().first().blur(function () {
              $(this).parent().text(OriginalContent);
              $(this).parent().removeClass("cellEditing");
            });
            $(this).find('input').click(function (e) {
              e.stopPropagation();
            });
          });
        })
            
          },

          error: function () {
            alert('Fail!');
          }
        });
        /*
                var promise = $.getJSON("http://localhost:8080/Gasto/llenardata/").done(
                  function () {
                    result = promise.responseJSON;
        
                    console.log(promise)
                    console.log(result)
        
        
                  })
                $.when(promise).done(function () {
                  for (var i = 0; i < result.length; i++) {
        
        
        
                    markup = "<tr class='idagregar'>
                      <td id='idquitar'value='" + result[i].prodId + "' style='display:none'  >" + result[i].prodId + "</td>
                      <td id='nombrequitar'>" + result[i].nombre + "</td>
                      <td id='fabricantequitar'>" + result[i].fabricante + "</td>
                      <td class='cant'>" + 0 + "</td>
                      <td id='unidadquitar'>" + result[i].unidad + "</td>
                      <td>" + (result[i].costo) + "</td>
                      <td> <button type='button'  value='" + result[i].nombre + "' class='borrar btn btn-danger '><i class='fa fa-trash'></i></button></td></tr>";
                    $("#agregadostabla").append(markup);
        
                  }
                  console.log("termino")
              buscar();
                })
                
                
                for (i = 0; i < nuevosing.length; i++) {
                  option = "<option id='" + nuevosing[i].prodId + "' text='" + nuevosing[i].nombre + "'value='" + nuevosing[i].prodId + "," + nuevosing[i].fabricante + "," + nuevosing[i].unidad + "," + nuevosing[i].costo + "'>" + nuevosing[i].nombre + "</option>";
                  $("#selectprueba").append(option)
                }
                var indice = document.getElementById("agregadostabla").rows.length;
                var costo1 = 0.0;
                for (i = 0; i < indice; i++) {
                  //console.log(document.getElementById("agragadostabla").rows[i].cells[5].innerHTML)
                  costo1 += parseFloat(document.getElementById("agregadostabla").rows[i].cells[5].innerHTML)
                }
                $("#costototal").val(costo1);
                $('#costoProd').val(costo1);
                
                $(function () {
                  $(".cant").click(function () {
                    var OriginalContent = $(this).text();
                    $(this).addClass("cellEditing");
                    $(this).html("<input type='text' value='" + OriginalContent + "' />");
                    $(this).children().first().focus();
                    $(this).children().first().keypress(function (e) {
                      if (e.which == 13) {
                        var newContent = $(this).val();
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");
                      }
                    });
                    $(this).children().first().blur(function () {
                      $(this).parent().text(OriginalContent);
                      $(this).parent().removeClass("cellEditing");
                    });
                    $(this).find('input').click(function (e) {
                      e.stopPropagation();
                    });
                  });
                });
                */





      })

    }


  </script>
  <script th:inline="javascript">
    function eliminar(id) {
      $(document).on('click', '.eliminar', function (event) {
        event.preventDefault();
        /*<![CDATA[*/
        var articulos =/*[[${productos}]]*/"Art";
        var error =/*[[${error}]]*
        /*]]>*/
          console.log(event)
        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        for (i = 0; i < articulos.length; i++) {
          if (articulos[i].prodId == id) {
            console.log("ID Enviado " + id + "articulo buscado " + articulos[i].prodId)

            var resultado = window.confirm("Esta seguro que desea eliminar el Articulo " + articulos[i].nombre);
            if (resultado === true) {
              $.ajax({
                type: "POST",
                url: "http://localhost:8080/restArticulo/eliminar/" + id,
                headers: { 'X-XSRF-TOKEN': csrfToken },
                data: {


                },
                dataType: "application/json",
                beforeSend: function () {
                },
                success: function (data, textStatus, jqXHR) {
                  console.log("SUCCESS data " + data)
                  console.log("SUCCESS text " + textStatus)
                  console.log("SUCCESS jqxhr " + jqXHR)

                },
                complete: function (result) {
                  // console.log()
                  // alert(result.responseText);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                  console.log("ERROR data " + data)
                  console.log("ERROR text " + textStatus)
                  console.log("ERROR jqxhr " + jqXHR)

                }

              });

              break;
            } else {
              window.alert('Pareces indeciso');
            }

          } else {
            console.log("NO ENCONTRADOS    ID Enviado " + id + "articulo buscado " + articulos[i].prodId)
          }


        }



      });

    };



  </script>
  
  <script>
    $(document).ready(function () {


      $('#Proveedores').DataTable(
        {
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "columnDefs": [
            {
              "orderable": false, "targets": 4,

            }
          ],
          "dom": 'Bfrtip',
          "buttons": [

            'copyHtml5',
            'csvHtml5',
            'excelHtml5',
            'pdfHtml5',
            'print'
          ]
        }
      );
    })
  </script>


</body>

</html>