<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/components :: head">
  <title>Articulos</title>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <div th:insert="fragments/components :: asidebar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:insert="fragments/components :: sidebar"></div>




    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">




          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">


                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de Artículos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="Articulos" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Articulo</th>
                            <th>Fabricante</th>
                            <th>Costo</th>
                            <th>Precio Venta</th>
                            <th>Categoria</th>
                            <th>Unidad de Medida</th>
                            <th>Imagen</th>
                            <th>Acciones</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr id="tablaPC" th:each="producto:${productos}">
                            <td id="ArtId" th:value="${producto.prodId}" th:class="${producto.prodId}"
                              style="display:none" th:text="${producto.prodId}" readonly></td>
                            <td id="ArtNombre" th:text="${producto.nombre}"></td>
                            <td id="ArtFabricante" th:text="${producto.fabricante}"></td>
                            <td id="ArtCosto" th:text="${producto.costo}"></td>
                            <td id="ArtPrecio" th:text="${producto.precioVenta}"></td>
                            <td id="ArtCategoria" th:text="${producto.categoria}"></td>
                            <td th:text="${producto.unidad}"></td>
                            <td id="ArtImage" th:if="${producto.foto!=null}"><img class="d-inline-block align-top"
                                th:src="@{/foto/__${producto.prodId}__}" height="60" width="80" alt="Imagen de Perfil">
                            </td>
                            <td th:unless="${producto.foto!=null}"></td>
                            <td id="ModificarProducto">
                              <button class="btn btn-primary editar"
                                th:attr="onclick=|myFunction('${producto.prodId}')|"><i
                                  class="fas fa-solid fa-pen"></i></button>
                              <button class="btn btn-danger eliminar"
                                th:attr="onclick=|eliminar('${producto.prodId}')|"><i
                                  class="fas fa-solid fa-trash"></i></button>
                            </td>




                          </tr>

                        </tbody>

                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->


          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>NUEVO ARTICULO </h1>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">ARTICULO</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="formularioProducto" class="needs-validation mb-4" th:action="@{/Articulo/crear-articulo}"
                  method="post" autocomplete="off" novalidate enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="imagen">Imagen</label>
                      <div id="imagen">
                      </div>

                    </div>
                    <div class="form-group mb-3">
                      <label for="idArt">ID del Articulo</label>
                      <input name="id" type="text" class="form-control" placeholder="ID" id="idArt" readonly>
                     
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="nombreArt">Nombre del Articulo</label>
                    <input name="nombre" type="text" class="form-control" required id="nombreProd" placeholder="Nombre">
                    <div class="invalid-feedback text-start">El nombre es obligatorio</div>
                  </div>
                  <div class="form-group">
                    <label for="fabricanteProd">Fabricante</label>
                    <input name="fabricante" type="text" class="form-control" required id="fabricanteProd"
                      placeholder="Fabricante">
                    <div class="invalid-feedback text-start">El Fabricante es obligatorio</div>
                  </div>
                  <div class="form-group">
                    <label for="costoProd">Costo</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input name="costo" type="number" class="form-control" id="costoProd" placeholder="Costo">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="precioProd">Precio de Venta</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input name="precio" type="number" class="form-control" id="precioProd"
                        placeholder="Precio de Venta">
                    </div>
                  </div>
                  <section class="content">
                    <div class="container-fluid">
                      <div class="form-group">
                        <label>Categoria de Articulo</label>
                        <select   class="select" style="width: 100%;" name="categoria">
                          <option  selected="selected" th:text="${categorias[0].PRODUCTO}">
                          </option>

                        </select>

                      </div>
                    </div>
                  </section>
                  <section class="content">
                    <div class="container-fluid">
                      <div class="form-group">
                        <label>Unidad de Medida de Articulo</label>
                        <select class="select" style="width: 100%;" name="unidad">
                          <option th:each="unidad:${unidades}" selected="selected" th:text="${unidad}">
                          </option>

                        </select>

                      </div>
                    </div>
                  </section>

                  <div class="form-group">
                    <label for="Image">Imagen</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input name="foto" type="file" class="custom-file-input" id="Image">
                        <label class="custom-file-label" for="exampleInputFile">Foto del Articulo</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button id="cambiar" type="submit" class="btn btn-primary">Submit</button>
                <button th:href="@{/index}" type="button" class="btn btn-danger">Cancelar</button>

              </div>
              </form>

              <!-- /.row -->
            </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <div th:insert="fragments/components :: scripts">

  </div>


  <script>
    function myFunction(id) {
      $(document).on('click', '.editar', function (event) {
        event.preventDefault();
        var boton = $("#cambiar");
        boton.text("Modificar");
        $("#formularioProducto").attr("action", "/Articulo/modificar-articulo")
       

        $("#ingredientes").find(".ingredientes").prop('disabled', false)
        var option;
        var nombre;
        var nombre1;

        nombre = $(this).closest('tr').find('td').each(function () {
          $(this).parent().find("#ArtNombre").each(function () { $(this).text() })


        })
        nombre1 = nombre.parent().find("#ArtNombre").text();
        id1 = nombre.parent().find("#ArtId").text();
        costo = nombre.parent().find("#ArtCosto").text();
        precio = nombre.parent().find("#ArtPrecio").text();
        categoria = nombre.parent().find("#ArtCategoria").text();
        fabricante = nombre.parent().find("#ArtFabricante").text();
        var image = new Image;
      $(".htmlChunk img.Thumb")
      var img = nombre.parent().find("#ArtImage");

        $('#idArt').val(id1);
        $('#nombreProd').val(nombre1);
        $('#costoProd').val(costo);
        $('#precioProd').val(precio);
        $('#categoria').val(categoria);
        $('#fabricanteProd').val(fabricante);

        const div = document.querySelector("#ArtImage")
      if (img.length == 0) {
        console.log("VACIO")
        div.innerHTML = ""
      } else {
        img1 = img[0].innerHTML;
        console.log(img1)

        const div = document.querySelector("#imagen")
        div.innerHTML = img1
      }
      });
  $("#imagen").val(image)
    };



  </script>
  <script th:inline="javascript">
    function eliminar(id) {
      $(document).on('click', '.eliminar', function (event) {
        event.preventDefault();
        /*<![CDATA[*/
        var articulos =/*[[${productos}]]*/"Art";
var error=/*[[${error}]]*
        /*]]>*/
        console.log(event)
        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        for (i = 0; i < articulos.length; i++) {
          if (articulos[i].prodId == id) {
            console.log("ID Enviado " + id + "articulo buscado " + articulos[i].prodId  )

            var resultado = window.confirm("Esta seguro que desea eliminar el Articulo " + articulos[i].nombre);
            if (resultado === true) {
             $.ajax({
        type: "POST",
        url: "http://localhost:8080/restArticulo/eliminar/"+id,
        headers: { 'X-XSRF-TOKEN': csrfToken },
        data: {
         

        },
        dataType: "application/json",
        beforeSend: function () {
        },
        success: function (data, textStatus, jqXHR) {
        console.log("SUCCESS data "+data)
        console.log("SUCCESS text "+textStatus)
        console.log("SUCCESS jqxhr "+jqXHR)

        },
        complete: function (result) {
          // console.log()
         // alert(result.responseText);

        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("ERROR data "+data)
        console.log("ERROR text "+textStatus)
        console.log("ERROR jqxhr "+jqXHR)

        }
       
      });
      
      break;
            } else {
              window.alert('Pareces indeciso');
            }
           
          }else{
           console.log("NO ENCONTRADOS    ID Enviado " + id + "articulo buscado " + articulos[i].prodId  )
          }


        }

      

      });

    };



  </script>
  <script>
    (() => {
      "use strict";

      const form = document.getElementById("formularioProducto");
      form.addEventListener("submit", (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      }, false);
    })()
  </script>


</body>

</html>