<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/components :: head">
  <title>Producto</title>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <div th:insert="fragments/components :: asidebar"></div>
    <div th:insert="fragments/components :: sidebar"></div>




    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">




          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">


                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de Productos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="Producto" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Producto</th>
                            <th>Fabricante</th>
                            <th>Costo</th>
                            <th>Precio Venta</th>
                            <th>Categoria</th>
                            <th>Imagen</th>
                            <th>Acciones</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr id="tablaPC" th:each="producto:${productos}">
                            <td id="PSId" th:value="${producto.prodId}" th:class="${producto.prodId}"
                              style="display:none" th:text="${producto.prodId}" readonly></td>
                            <td id="PSnombre" th:text="${producto.nombre}"></td>
                            <td id="PSfabricante" th:text="${producto.fabricante}"></td>
                            <td id="PScosto" th:text="${producto.costo}"></td>
                            <td id="PSprecio" th:text="${producto.precioVenta}"></td>
                            <td id="PScategoria" th:text="${producto.categoria}"></td>
                            <td id="PSImage" th:if="${producto.foto!=null}"><img class="d-inline-block align-top"
                                th:src="@{/foto/__${producto.prodId}__}" height="60" width="80" alt="Imagen de Perfil">
                            </td>
                            <td th:unless="${producto.foto!=null}"></td>
                            <td id="ModificarProducto">
                              <button class="btn btn-primary editar"
                                th:attr="onclick=|myFunction('${producto.prodId}')|"><i
                                  class="fas fa-solid fa-pen"></i></button>
                              <button class="btn btn-danger eliminar"
                                th:attr="onclick=|eliminar('${producto.prodId}')|"><i
                                  class="fas fa-solid fa-trash"></i></button>
                            </td>

                            </td>
                          </tr>

                        </tbody>

                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->


          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>NUEVO PRODUCTO </h1>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">PRODUCTO</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="formularioProducto" class="needs-validation mb-4" th:action="@{/Producto/crear-producto}"
                  method="post" autocomplete="off" novalidate enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="imagen">Imagen</label>
                      <div id="imagen">
                      </div>
                      <div class="form-group mb-3">
                        <label for="prodId">ID Producto</label>
                        <input name="prodId" readonly type="number" class="form-control" id="prodId" placeholder="ID">
  
                      </div>
                    <div class="form-group mb-3">
                      <label for="nombreProd">Nombre del Producto</label>
                      <input name="nombre" type="text" class="form-control" required id="nombreProd"
                        placeholder="Nombre">
                      <div class="invalid-feedback text-start">El nombre es obligatorio</div>
                    </div>
                    <div class="form-group">
                      <label for="fabricanteProd">Fabricante</label>
                      <input name="fabricante" type="text" class="form-control" required id="fabricanteProd"
                        placeholder="Fabricante">
                      <div class="invalid-feedback text-start">El Fabricante es obligatorio</div>
                    </div>
                    <div class="form-group">
                      <label for="costoProd">Costo</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input name="costo" type="number" class="form-control" id="costoProd" placeholder="Costo">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="precioProd">Precio de Venta</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input name="precio" type="number" class="form-control" id="precioProd"
                          placeholder="Precio de Venta">
                      </div>
                    </div>
                    <section class="content">
                      <div class="container-fluid">
                        <div class="form-group">
                          <label>Categoria de Producto</label>
                          <select class="select" style="width: 100%;" name="categoria">
                            <option selected="selected" th:text="${categorias[0].PRODUCTO}">
                            </option>

                          </select>
                        </div>
                      </div>
                    </section>
                    <!--Informacion del Lote TODO 
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Lote</h3>
                      </div>
                      <div class="form-group">
                        <label for="nombreLote">Identificador de Lote</label>
                        <input name="nombreLote" type="text" class="form-control" id="nombreLote" placeholder="Lote">
                      </div>
                      <div class="form-group">
                        <label>Fecha de Elaboracion:</label>
                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                          <input name="fechaElaboracion" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Fecha de Vencimiento:</label>
                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                          <input name="fechaVencimiento" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="form-group">
                      <label for="listaLotes">Lote</label>
                      <div>
                        <select id="myselect">
                          <option value="1">Lote1</option>
                          <option value="2">Lote2</option>
                        </select>
                        <a id="agregar-lote" class="fas fa-plus-square"></a>
                      </div>
                    </div>
                  -->
                    <div class="form-group">
                      <label for="Image">Imagen</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input name="foto" type="file" class="custom-file-input" id="Image">
                          <label class="custom-file-label" for="exampleInputFile">Foto del Producto</label>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text">Upload</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" id="cambiar" class="btn btn-primary">Submit</button>
                    <a th:href="@{/index}" class="btn btn-danger">Cancelar</a>
                  </div>
                </form>
              </div>
              <!-- /.card -->


              <!-- /.card -->
              <!-- Horizontal Form -->


              <!--/.col (left) -->
              <!-- right column -->

              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <div th:insert="fragments/components::scripts">

  </div>






  <script>
    (() => {
      "use strict";

      const form = document.getElementById("formularioProducto");
      form.addEventListener("submit", (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      }, false);
    })()
  </script>


  <script th:inline="javascript">
    function myFunction(id) {

      $(document).one('click', '.editar', function (event) {
        event.preventDefault();

        $("#costoProd").prop('readonly', true)



        $("#formularioProducto").attr("action", "/Producto/modificar-producto")
        var BTN = $("#cambiar")


        BTN.text("Modificar")



        $("#agregadostabla").empty();


        
        var option;
        var nombre;
        var nombre1;

        nombre = $(this).closest('tr').find('td').each(function () {
          $(this).parent().find("#PSNombre").each(function () { $(this).text() })


        })
        nombre1 = nombre.parent().find("#PSnombre").text();

        costo = nombre.parent().find("#PScosto").text();
        precio = nombre.parent().find("#PSprecio").text();
        fabricante=nombre.parent().find("#PSfabricante").text();
        categoria = nombre.parent().find("#PScategoria").text();
        prodId = nombre.parent().find("#PSId").text();
        var image = new Image;
        $(".htmlChunk img.Thumb")
        var img = nombre.parent().find("#PSImage");




        const div = document.querySelector("#imagen")
        if (img.length == 0) {
          console.log("VACIO")
          div.innerHTML = ""
        } else {
          img1 = img[0].innerHTML;
          

          const div = document.querySelector("#imagen")
          div.innerHTML = img1
          // $("#imagen").append("<img class='d-inline-block align-top'th:src='"+prueba+"' height='60' width='80' alt='Imagen de Perfil'>")

        }
        // console.log("STRING "+ prueba)
        $('#nombreProd').val(nombre1);

        $('#precioProd').val(precio);
        $('#costoProd').val(costo);
        $('#fabricanteProd').val(fabricante);

        $('#categoria').val(categoria);
        $('#prodId').val(prodId);
        $("#imagen").val(image)
        

    
      });

    }


  </script>
</body>

</html>